In [35]:
import pandas as pd # importando pandas
import numpy as np

In [36]:
support = pd.read_csv("/home/saulpc2/Escritorio/proyecto pandas/support_esp.csv")

In [37]:
support

       user_id                  request_type  type_id    request_timestamp
0     DNcd8dnS  Complaint about a store item        3  2019-03-28 13:58:24
1     0e9MvwGs                         Fraud        5  2019-03-08 17:11:59
2     boyDUG4C                         Fraud        5  2019-03-03 17:52:34
3     5jMA27s1  Complaint about a store item        3  2019-03-16 15:18:21
4     wvtyctOK                  Fake reviews        2  2019-03-13 14:43:14
...        ...                           ...      ...                  ...
2995  6X0OF5EB  Complaint about a store item        3  2019-04-23 17:30:21
2996  dQ4DCfeo  Complaint about a store item        3  2019-04-02 14:13:30
2997  nSwKhw7e  Complaint about a store item        3  2019-03-02 10:53:54
2998  UE5G4T3x  Complaint about a store item        3  2019-03-24 10:21:57
2999  uwPq9D2m           Website not working        1  2019-04-20 15:45:55

[3000 rows x 4 columns]

In [38]:
print(support.head(10))

    user_id                    request_type  type_id    request_timestamp
0  DNcd8dnS    Complaint about a store item        3  2019-03-28 13:58:24
1  0e9MvwGs                           Fraud        5  2019-03-08 17:11:59
2  boyDUG4C                           Fraud        5  2019-03-03 17:52:34
3  5jMA27s1    Complaint about a store item        3  2019-03-16 15:18:21
4  wvtyctOK                    Fake reviews        2  2019-03-13 14:43:14
5  zvN8W1tc  Complaint about a video review        8  2019-03-29 20:32:17
6  bBmybSbr             Website not working        1  2019-04-08 21:37:15
7  5JX1P5G8        Sale of prohibited items        6  2019-04-06 12:15:20
8  pbbG3xWx             Website not working        1  2019-04-09 17:30:43
9  vZWtTovT    Complaint about a store item        3  2019-04-16 12:26:16

In [39]:
support.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   user_id            3000 non-null   object
 1   request_type       3000 non-null   object
 2   type_id            3000 non-null   int64
 3   request_timestamp  3000 non-null   object
dtypes: int64(1), object(3)
memory usage: 93.9+ KB

In [40]:


support.set_axis(['user_id','type_message', 'type_id', 'timestamp'], axis = 'columns',inplace=True)
support.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_id       3000 non-null   object
 1   type_message  3000 non-null   object
 2   type_id       3000 non-null   int64
 3   timestamp     3000 non-null   object
dtypes: int64(1), object(3)
memory usage: 93.9+ KB

/tmp/ipykernel_2154/2041298749.py:1: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  support.set_axis(['user_id','type_message', 'type_id', 'timestamp'], axis = 'columns',inplace=True)

1.
Averigüa cuántos tickets de cada tipo se han enviado. Muestra los resultados.

In [50]:
support = pd.read_csv('/home/saulpc2/Escritorio/proyecto pandas/support_upd_esp.csv')
print(support["type_message"].value_counts())

Complaint about a store item      606
Fraud                             586
Sale of counterfeited items       312
Website not working               311
Sale of prohibited items          303
Fake reviews                      302
Complaint about a video review    297
The review was deleted            283
Name: type_message, dtype: int64

In [42]:
# 2.Crea una nueva tabla support_log y pásale las siguientes columnas de la tabla support:

#['user_id','type_id','timestamp']. Muestra las primeras diez filas de support_log.

support_ref = support_log = support[['user_id','type_id','timestamp']]
print(support_log.head(10))

    user_id  type_id            timestamp
0  DNcd8dnS        3  2019-03-28 13:58:24
1  0e9MvwGs        5  2019-03-08 17:11:59
2  boyDUG4C        5  2019-03-03 17:52:34
3  5jMA27s1        3  2019-03-16 15:18:21
4  wvtyctOK        2  2019-03-13 14:43:14
5  zvN8W1tc        8  2019-03-29 20:32:17
6  bBmybSbr        1  2019-04-08 21:37:15
7  5JX1P5G8        6  2019-04-06 12:15:20
8  pbbG3xWx        1  2019-04-09 17:30:43
9  vZWtTovT        3  2019-04-16 12:26:16

In [48]:
##3.Crea un DataFrame de referencia en la tabla support_ref y pásale las columnas 'type_message' y 'type_id' de la tabla support. Muestra las primeras diez filas de support_ref.
support = pd.read_csv('/home/saulpc2/Escritorio/proyecto pandas/support_upd_esp.csv')
support_ref=support[['type_message', 'type_id']]
print(support_ref.head(10))

                     type_message  type_id
0    Complaint about a store item        3
1                           Fraud        5
2                           Fraud        5
3    Complaint about a store item        3
4                    Fake reviews        2
5  Complaint about a video review        8
6             Website not working        1
7        Sale of prohibited items        6
8             Website not working        1
9    Complaint about a store item        3

4.
Elimina los datos duplicados, después imprime el DataFrame de referencia ordenado por la columna 'type_id' en orden ascendente. Tu resultado debería ser así:
                     type_message  type_id
4             Website not working        1
2                    Fake reviews        2
0    Complaint about a store item        3
...

In [51]:

support_ref =support[['type_message','type_id']]
support_ref = support_ref.drop_duplicates().reset_index(drop= True)
print(support_ref.sort_values('type_id'))

                     type_message  type_id
4             Website not working        1
2                    Fake reviews        2
0    Complaint about a store item        3
6     Sale of counterfeited items        4
1                           Fraud        5
5        Sale of prohibited items        6
7          The review was deleted        7
3  Complaint about a video review        8

In [ ]:
support = pd.read_csv('/home/saulpc2/Escritorio/proyecto pandas/support_upd_esp.csv')